<h1>Login to Fwitter</h1>

<h3>Login</h3>
<form action="/login" method="POST">
  <labe>Username:</labe> <input type="text" name="username" placeholder="Username:"><br>
  <labe>Password:</labe> <input type="password" name="password" placeholder="Password:"><br>
  <input type="submit" name="submit" id="submit" value="Log In">
</form>